<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1 class="green">Hello Bienvenu dans notre site web </h1>

    <form action="/form" method="post">
        <p>
            <label for="id">Identifiant</label>
            <input type="text" name="identifiant" placeholder="Indentifiant" id="id">
        </p>
        <p>
            <label for="mdp">Mot de passe</label>
            <input type="text" name="mdp" id="mdp">
        </p>
        <p>
            <button type="submit">Connexion</button>
        </p>
    </form>

    <img src="/static/images/software.jpg" alt="software developer">
</body>
</html>